[2017-12-08 07:02] dzuelke opened #1 "Do not process.exit on signals"
A process that reacts to a signal (and choose not ignore it, but exit because of it) should not simply `exit`, but instead send that signal to itself (after of course resetting the signal handler), so that calling programs (or other processes) can determine the cause of the exit correctly. See https://www.cons.org/cracauer/sigint.html, which talks about this in the context of `SIGTERM` specificall

[2017-12-08 08:30] gergelyke commented on #1
Thanks @dzuelke! Can you send a PR addressing this?

[2017-12-08 09:23] remojansen opened #2 "TypeScript support"
I'm working on a [TypeScript framework](https://github.com/ZafiroJS/zafiro) and this module would be a great addition but I need TypeScript support.

The required changes are:

- Create a file `/typings/index.d.ts` (definitions)
- Create a file `/typings/index-test.ts` (definitions tests)
- Add a field to the package.json pointing to the `/typings/index.d.ts` file.
- The `/typings/index.d.ts` file

[2017-12-08 21:50] gergelyke commented on #2
Hi @remojansen - sure thing! Thanks in advance 👌

[2017-12-09 00:49] gergelyke commented on #1
@dzuelke I am going to work in this :)

[2017-12-09 01:08] gergelyke commented on #1
@dzuelke can you take a look? https://github.com/godaddy/terminus/pull/3

[2017-12-09 16:36] #1 closed

[2017-12-09 16:49] dzuelke commented on #1
Looks good!

I guess the general question is how to allow e.g. canceling handling (to ignore the signal instead of doing anything), or how to handle other signals gracefully (say SIGINT), but that's another issue entirely :)

[2017-12-13 13:08] remojansen opened #5 "License?"
I have noticed that [the current license is ISC](https://github.com/godaddy/terminus/blob/master/package.json#L19). Would you consider the MIT license? I won't be able to use this module if it is not under the MIT license :cry:

[2017-12-14 17:15] gergelyke commented on #5
Sure, that's fine, I'll change it

[2017-12-14 17:28] gergelyke commented on #5
Address in https://github.com/godaddy/terminus/pull/7 🎉

[2017-12-14 17:28] #5 closed

[2017-12-15 14:50] vernak2539 opened #8 "only usable with node versions >=7.6.0"
It seems as if the [stoppable][stoppable-module] module being used includes the [awaiting][awaiting-module] module, which only allows for use of node versions >=7.6.0.

This seems to be a big limitation, as v6 is an active LTS until April 2019. Unfortunately, we cannot update to 7+ yet, but would really like to use this module

Is it possible to use a different module or make the stoppable module

[2017-12-15 17:58] jcrugzz commented on #8
@vernak2539 looks like @gergelyke properly moved that module to devDepdencies and we are just waiting on a new version to be published.

[2017-12-15 18:44] gergelyke commented on #8
@jcrugzz @vernak2539 https://github.com/godaddy/terminus/pull/9

[2017-12-15 18:50] gergelyke commented on #8
@vernak2539 released as https://github.com/godaddy/terminus/releases/tag/v2.0.1 🎉

[2017-12-15 18:50] #8 closed

[2017-12-16 13:38] vernak2539 opened #10 "Doesn't work with PM2"
Could this possibly get working with PM2?

From [this post](https://nemethgergely.com/nodejs-healthcheck-graceful-shutdown/) it states that once the hypervisor sends a `SIGTERM` this module will facilitate graceful shutdown. PM2 seems to send a `SIGINT` instead ([docs](http://pm2.keymetrics.io/docs/usage/signals-clean-restart/#explanation-signals-flow)). Would this be able to be added or is this o

[2017-12-18 03:05] gergelyke commented on #10
@vernak2539 one possible way to tackle this is to provide an option in terminus to modify the termination signal - would you be up to contribute it?

[2017-12-18 03:06] gergelyke commented on #10
Ahh, I see the PR 🎉

Do you think it would make sense to change it the way I proposed?

[2017-12-18 07:24] vernak2539 commented on #10
I've updated the PR to generalise the signal use. Would be helpful if you could give me some feedback on the param names used in the PR.

[2017-12-18 15:49] gergelyke commented on #2
merged 🎉

[2017-12-18 15:49] #2 closed

[2017-12-19 13:19] solognt commented on #10
I was also looking for this but in my case I need both SIGTERM and SIGINT to do a graceful shutdown of the application. We run our application in 2 situations inside docker (SIGTERM) and also directly on the server using pm2 (SIGINT). So it would be nice to support an array of signals.

[2017-12-19 15:26] vernak2539 commented on #10
@solognt would you be able to open another issue? I think this is fundamentally different than the issue opened here and thus the work being done to add this feature is inherently different.

[2017-12-19 20:29] #10 closed

[2017-12-19 20:33] gergelyke commented on #10
released as v2.2.0

[2017-12-21 03:28] sudo-suhas opened #13 "Windows support, or the lack thereof"
I was playing around with this repo and a found that the tests are failing on Windows:

<details>
<summary>verbose test report</summary>

[code]

</details>
<br>

I tried to dig into this a bit and found that the whole concept of `SIGTERM` is not supported on Windows.

- https://github.com/nodejs/node-v0.x-archive/issues/5054#issuecomment-15150485

Also see https://github.com/nodejs/node/issues/12

[2017-12-21 16:07] gergelyke commented on #13
On windows signals are not supported, you are correct (https://nodejs.org/api/process.html).

If you could send a PR that reflects it, that would be awesome!

[2017-12-22 04:36] sudo-suhas commented on #13
Sure @gergelyke, I'll do that.

[2017-12-28 15:16] #13 closed

[2018-01-05 17:24] gergelyke opened #16 "Add example code for MySQL graceful shutdown"

[2018-01-05 17:25] gergelyke opened #17 "Add example code for PostgreSQL graceful shutdown"

[2018-01-05 17:25] gergelyke opened #18 "Add example code for MongoDB graceful shutdown"

[2018-01-05 17:25] gergelyke opened #19 "Add example code for Cassandra graceful shutdown"

[2018-01-05 18:01] lukaszewczak commented on #17
Hi Gergely, as I wrote in twitter I would like to try to do this at first with PostgreSQL example :-) but could you please give me more details how this example should look like,  thanks

[2018-01-05 18:12] gergelyke commented on #17
Hi @lukaszewczak ! thanks a lot! :)

Essentially, it would use one [node-postgres](https://node-postgres.com), create a connection to a server, then close it using terminus and [client.end](https://node-postgres.com/api/client#client-end-cb-err-error-gt-void-gt-void)

What do you think?

[2018-01-05 19:23] lukaszewczak commented on #17
Looks good to me :-) Ok I will work on it during the weekend, maybe I try to do other examples (#19, #18, #16  ). Have a nice weekend!

[2018-01-05 19:30] gergelyke commented on #17
🎉
have a nice weekend too! :)

[2018-01-09 18:09] gergelyke commented on #17
hi @lukaszewczak! how did it go? let me know if you need any help!

[2018-01-09 18:50] lukaszewczak commented on #17
hi @gergelyke I'm sorry I've got some issues with project in my job and I spend all weekend on it, but I finished it today. I will try to send PR to the end of this week.

[2018-01-15 17:53] gergelyke commented on #17
Added in https://github.com/godaddy/terminus/pull/21

[2018-01-15 17:53] #17 closed

[2018-01-17 02:40] ryuheechul opened #25 "Example’s usage of healtcheck seems wrong"
https://github.com/godaddy/terminus/blob/9c96f21b227b2e7770b942229f7a3c99b352c4ca/example/index.js#L18 this above should be like below

[code]
according to README.md and the code below https://github.com/godaddy/terminus/blob/8e822bacc9a4bf13b6834805ff2a20b19a67c0f5/lib/terminus.js#L67-L79

[2018-01-17 18:27] gergelyke commented on #25
Great catch, thanks @ryuheechul! fixing now :)

[2018-01-17 18:28] gergelyke commented on #25
fixed in https://github.com/godaddy/terminus/commit/a58062113ba19ba2279c22e99eba1ebdbd10b646

[2018-01-17 18:28] #25 closed

[2018-01-18 05:44] lukaszewczak commented on #19
Hi @gergelyke ,

I never worked with Cassandra but after some research I found that I can check if some host(s) from Cassandra cluster is up by using example like this (based on https://stackoverflow.com/questions/44501087/checking-health-of-all-cassandra-nodes):

[code]

When we can assume that Cassandra cluster is health? When all hosts in cluster are up or at least one host in cluster is up?

[2018-01-18 15:47] gergelyke commented on #19
@jcrugzz any chance you can help us out here?

[2018-01-18 17:09] gergelyke commented on #16
Fixed in https://github.com/godaddy/terminus/pull/27

[2018-01-18 17:09] #16 closed

[2018-01-18 17:10] gergelyke commented on #18
fixed in https://github.com/godaddy/terminus/pull/29

[2018-01-18 17:10] #18 closed

[2018-01-29 07:57] lukaszewczak commented on #19
Hi @gergelyke , do you have any thoughts on this topic? Maybe we can add possibility to change default success response for healthcheck, and in this situation we can just return object with status about every cassandra host?

[2018-01-29 17:02] jcrugzz commented on #19
@lukaszewczak @gergelyke I'm not sure we need to get into the weeds and check anything about the Cassandra hosts to determine health. That can be useful data in some circumstances for monitoring a cluster and network connectivity but I think you are better off running a query and retrieving data as that is a more real health test. Just because you are connected to at least one node doesn't mean yo

[2018-01-30 04:58] lukaszewczak commented on #19
OK, thank you @jcrugzz , it makes sense. I will work on PR for this

[2018-01-31 17:12] alanchristensen opened #31 "Delay needed before calling asyncServerStop()?"
I tried to use terminus for some projects at work but during an application update some requests were getting dropped.

I was able to fix this by adding a delay before calling asyncServerStop().

Have you guys seen this as well?

I've created https://github.com/alanchristensen/kubeplayground to help you reproduce what I'm seeing.

Once you got the app running, throw some load at it using wrk:

[co

[2018-02-01 20:28] gergelyke commented on #31
Thanks a lot for the report Alan! I am going to look into this

[2018-02-01 21:34] alanchristensen commented on #31
@gergelyke I've pushed a change to my kubeplayground repo to fix a logging statement.

I can eliminate those read errors by changing the `process.on(signal, cleanup);` to `process.on(signal, () => { setTimeout(cleanup, 10000); });`

[2018-03-04 20:42] itaditya opened #36 "Add precommit githooks for consistent contributions"
When a person makes some changes and commits them, he may not remember to format or lint his code, Due to this his PR may get rejected. To avoid this and allow faster, smoother contributions you should integrate precommit githooks in the project. This way certain commands will execute whenever someone makes a commit. I would love to make a PR regarding this.

[2018-03-04 20:57] itaditya opened #37 "4 Tests failing on Windows"
![image](https://user-images.githubusercontent.com/15871340/36950480-6eeaed74-201c-11e8-8f0c-0098f758dedc.png)

I did read the *Limited Windows support* note but it mentioned that only `SIGTERM` doesn't work. Are all the failing tests dependent on `SIGTERM` ? If so, then I think I'll need to run `terminus` in a Docker environment.

[2018-03-04 21:07] itaditya opened #38 "Use async/await syntax along with try/catch"
Current code is using `.then()` and `.catch()`. I think it's better if `async/await` is used instead. I would like to make a PR regarding this.

[2018-03-04 21:14] itaditya opened #39 "Use parameter desctructuring with defaults for concise code"
Consider a snippet of code taken from the module
[code]

Here the second argument of the `terminus` function is not destructured. Instead in the first line of the function body, desctructuring is being done. This can definitely be shortened. Another thing is, during destructuring we can use default values right there, However here it has not been used. If both of these facilities are used the code

[2018-03-07 11:25] vernak2539 commented on #39
i believe it was done in order to support node version that don't support parameter destructuring and default params. I believe this changed on the transition from node 4 to 6. The more people able to use it with out a compile step the better I believe.

[2018-03-07 12:56] itaditya commented on #39
In this file https://github.com/godaddy/terminus/blob/master/lib/terminus.js#L20, object is already being destructured, so the node version supported will stay the same,

[2018-03-07 14:38] vernak2539 commented on #39
yes, but not with default values and not in the actual function parameters. i'm just pointing out why it may have been done

[2018-03-20 15:45] gergelyke commented on #38
Hi @itaditya!

thanks for the feedback - we wanted support Node.js 6 till it is supported by the foundation (April 2019). I hope that makes sense.

[2018-03-20 15:45] #38 closed

[2018-03-20 15:47] gergelyke commented on #37
Yes they are - Windows does not support signals at all.

[2018-03-20 15:47] #37 closed

[2018-03-20 15:47] gergelyke commented on #36
Great, if you could send a PR, that'd be awesome!

[2018-03-20 15:51] gergelyke commented on #39
Based on node.green, default parameters should work with Node.js 6. I am ok with this change, as far as it passes the tests on Travis using Node@6

[2018-03-20 15:51] gergelyke commented on #19
@lukaszewczak any chance you had the time to work on it? :)

[2018-03-20 16:02] itaditya commented on #38
Ok cool :+1:

[2018-03-20 16:08] itaditya commented on #39
Then I'll get on it ASAP

[2018-03-20 21:04] bgmike opened #42 "Listen for multiple signals"
Greetings.

I have recently started using this library and I'm liking it very much. It makes the application a whole lot cleaner.

I think that a useful enhancement would be the ability to listen for multiple signals and trigger the cleanup mechanisms on any of the signals specified.

I make this suggestion because of my recent experience, which was the following:
In a production setting, I agree

[2018-03-21 04:45] gergelyke commented on #19
no rush, take your time :) thanks a lot for the contributions so far!

[2018-04-11 23:03] JacopoDaeli commented on #31
I am looking into this @alanchristensen @gergelyke.

[2018-04-27 11:14] greenkeeper[bot] opened #48 "Version 10 of node.js has been released"
## Version 10 of Node.js (code name Dubnium) has been released! 🎊

To see what happens to your code in Node.js 10, Greenkeeper has created a branch with the following changes:
- Added the new Node.js version to your `.travis.yml`

If you’re interested in upgrading this repo to Node.js 10, you can <a href="/godaddy/terminus/compare/master...godaddy:greenkeeper%2Fupdate-to-node-10">open a PR with th

[2018-05-01 16:46] #48 closed

[2018-05-07 15:59] gergelyke commented on #31
@JacopoDaeli do you have any update on this one?

[2018-05-08 08:52] JacopoDaeli commented on #31
@gergelyke, unfortunately, I did not have time yet to look into this. But I will look into this asap.

[2018-05-10 16:46] #39 closed

[2018-06-08 12:20] peterkuiper opened #54 "Missing background info and k8s configs for examples"
I think a bit of background info about what actually happens on SIGTERM and maybe some example k8s yaml files to get people going would be great (readinessProbe, livenessProbe and terminationGracePeriodSeconds). Your [blog post](https://nemethgergely.com/nodejs-healthcheck-graceful-shutdown/) explains things a bit more in depth: things get [confusing](https://hackernoon.com/graceful-shutdown-in-ku

[2018-06-08 15:29] peterkuiper commented on #31
There is a long discussion [here](https://github.com/kubernetes/contrib/issues/1140) https://github.com/kubernetes/contrib/issues/1140. This "lag" is caused by `kube-proxy`. So, your pod is shutting down and is still receiving traffic.

There is no synchronization between the SIGTERM handler and the health check. If I understand correctly, your health check should fail if you receive a SIGTERM and

[2018-06-08 16:36] gergelyke commented on #31
ah, thanks a lot @peterkuiper for this!

I'll put together a PR addressing this

[2018-06-08 19:28] #31 closed

[2018-06-08 20:33] gergelyke commented on #13
:tada: This issue has been resolved in version 2.2.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@godaddy/terminus)
- [GitHub release](https://github.com/godaddy/terminus/releases/tag/v2.2.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-06-08 20:47] gergelyke commented on #19
Fixed in https://github.com/godaddy/terminus/pull/52

[2018-06-08 20:47] #19 closed

[2018-06-08 20:48] gergelyke commented on #54
Hi Peter,

yeah, that makes sense, I'll work on that!

Yes, we use it in production.

[2018-06-09 08:36] peterkuiper commented on #54
If you need any help, please let me know!

[2018-06-09 17:52] gergelyke commented on #54
Thanks @peterkuiper - once I have a PR ready, I will send it your way!

[2018-06-10 23:45] gergelyke commented on #42
added in https://github.com/godaddy/terminus/pull/57

[2018-06-10 23:45] #42 closed

[2018-06-18 20:46] gergelyke commented on #54
@peterkuiper managed to put together a first draft: https://github.com/godaddy/terminus/pull/58

please let me know what you'd change!

[2018-06-27 07:41] wcho opened #60 "Signal handlers are not removed from process"
In the following code, cleanup is not the correct handler. 'sig => cleanup(sig)' is the correct one.
process.on(sig, sig => cleanup(sig))

[2018-06-29 17:59] gergelyke commented on #60
hi @wcho - can you help me better understand the issue? are you referring to https://github.com/godaddy/terminus/blob/master/lib/terminus.js#L84?

can you help me how this whole snippet should look in your opinion?

[code]

[2018-06-29 19:45] gergelyke commented on #54
closing as https://github.com/godaddy/terminus/pull/58 is merged

[2018-06-29 19:45] #54 closed

[2018-07-03 13:18] peterkuiper commented on #54
@gergelyke Sorry for the late response: LGTM!

[2018-07-03 16:58] gergelyke commented on #54
cool, thanks @peterkuiper!

[2018-07-04 14:05] peterkuiper opened #61 "beforeShutdown in example should return new Promise"
Should be:

[code]

or ES6:

[code]

[2018-07-04 14:30] peterkuiper commented on #61
I'm also trying to figure out where `beforeShutdown()` fits in. I have `beforeShutdown`, `onSignal` and `onShutdown` set. `beforeShutdown` is run before onSignal. I would expect:

`onSignal` -> `beforeShutdown` -> `onShutdown`

`onSignal` would allow me to the actual logging (without a delay) and pre-cleanup steps that wouldn't interfere with serving traffic, adding a delay here. I would then do m

[2018-07-05 19:10] gergelyke commented on #61
@peterkuiper can you send a PR to fix the docs?

[2018-07-06 14:07] tnguyen14 opened #64 "Return more info in the healthcheck endpoint"
I was wondering if it'd be a good idea to allow the `healthcheck` promise-returning function to resolve back an object that could contain more info about the application that could be included in the `SUCCESS_RESPONSE`.

Some of this info could include things like application version etc.

I understand that the info could be made available under a new endpoint, but I think it could make sense to i

[2018-07-06 16:06] gergelyke commented on #64
Sounds great @tnguyen14 ! Can you submit a PR that does this in a semver minor manner?

[2018-07-06 17:10] #36 closed

[2018-07-07 09:41] peterkuiper commented on #61
@gergelyke I will send the PR on monday. I'll also take a look at the examples, I think those also miss the 'new Promise'.

[2018-07-07 16:17] gergelyke commented on #61
Cool, thanks a lot @peterkuiper!

[2018-07-08 20:39] gergelyke commented on #64
closing as https://github.com/godaddy/terminus/pull/65 is merged

[2018-07-08 20:39] #64 closed

[2018-07-09 05:22] wcho commented on #60
I think `cleanup` should be registered as is so that it can be removed properly in https://github.com/godaddy/terminus/blob/master/lib/terminus.js#L80
[code]

[2018-07-09 16:28] gergelyke commented on #60
You are right @wcho - just created a PR: https://github.com/godaddy/terminus/pull/67

[2018-07-09 17:41] gergelyke commented on #60
merged! :)

[2018-07-09 17:41] #60 closed

[2018-07-10 09:08] #61 closed

[2018-07-20 23:28] gergelyke opened #69 "The automated release is failing 🚨"
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2018-07-21 21:18] gergelyke commented on #69
it seems to be working - for now closing it

[2018-07-21 21:18] #69 closed

[2018-07-30 07:53] xmlking opened #70 "use with nestjs"
if it possible to use terminus  with https://nestjs.com/ ?
i am interested in health checks

[2018-08-07 14:53] gergelyke commented on #70
hi @xmlking !

i am not familiar with that framework, but if they expose the http server, you should be able to wrap that with terminus.

if you figure it out, can you send a PR that adds an example with nest?

[2018-08-17 18:19] siddkar opened #71 "Express server shutting down immediately on 'SIGINT' signal in MacOS or Linux, onSignal callback not called"
Hi Team,
As mentioned in the docs, implemented terminus in my app.
It's working fine in Windows platform and (onSignal callback is invoked) all my connections are getting shutdown gracefully on the signal of SIGINT.
While implementing the same in Linux and MacOS, when I fire a SIGINT from terminal it immediately terminates the application and doesn't invoke the onSignal callback for graceful shutd

[2018-08-17 19:35] KP1422 commented on #71
Hi i too am facing the same issue in Ubuntu, SIGINT should get called when i hot Ctrl + C, but it doesn;t.
Please help in case there is a fix for the same.

[2018-08-24 15:04] weeco commented on #70
@xmlking See https://github.com/nestjs/nest/issues/966

[2018-08-29 17:22] gergelyke opened #74 "The automated release is failing 🚨"
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2018-08-31 13:04] BrunnerLivio opened #75 "Export interfaces from typings"
Hi everyone,

I am currently working on #70: [nest-terminus](https://github.com/brunnerlivio/nest-terminus). Good work with this repo, I like it!
I have a problem; I am exporting a terminus instance:

[terminus-lib.provider.ts](https://github.com/BrunnerLivio/nest-terminus/blob/master/lib/terminus-lib.provider.ts)

[code]

This small file is used so I can inject the terminus instance in Nest using

[2018-09-05 22:32] gergelyke commented on #74
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2018-09-10 03:33] gergelyke commented on #74
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2018-09-10 03:42] #74 closed

[2018-09-10 16:04] gergelyke commented on #75
Hi @BrunnerLivio! Sounds good - would you be up for sending a PR?

[2018-09-10 16:05] gergelyke commented on #70
also, https://github.com/godaddy/terminus/issues/75

[2018-09-11 17:11] BrunnerLivio commented on #75
Seems like I checked wrongly; it does not work, or at least I can not find any solution.
The problem here is `@godaddy/terminus` does not have a default export. There for it can just export one instance. That is why TypeScript can't export any other types or at least I haven't found any solution after ~10-20 min googling. Not an expert in writing Typings for existing modules though, so maybe you f

[2018-09-11 23:18] greenkeeper[bot] opened #78 "An in-range update of semantic-release is breaking the build 🚨"
## Version **15.9.15** of **semantic-release** was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="https://github.com/godaddy/terminus/compare/master...godaddy:greenkeeper%2Fsemantic-release-15.9.15">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </th>
    <td>
      <a target=_blank href=https://github.com/s

[2018-09-19 13:37] jon-cooke opened #79 "Missing Content-Type header on JSON responses"
This breaks clients that automatically parse the response body based on the Content-Type

[0001-Add-content-type-header-on-json-responses.patch.txt](https://github.com/godaddy/terminus/files/2397263/0001-Add-content-type-header-on-json-responses.patch.txt)

[2018-09-26 14:40] BrunnerLivio commented on #70
Hello guys,

I am currently the maintainer of [nest/termins](). We're running in some issues which heavily involves the general codebase of `@godaddy/terminus`.

The problems are described on [nest/termins#2](https://github.com/nestjs/terminus/issues/2#issuecomment-424699384)

The main problem is, we want to support subsystem of a health check e.g.

[code]

So for example when the status of a subs

[2018-09-26 15:29] weeco commented on #70
Having the possibility to return objects would be nice because that certainly helps to understand why exactly the status is down (e. g. only 100mb diskspace left, but you need 200mb for your service to operate).

[2018-09-26 15:38] gergelyke commented on #70
Sounds good - I can draft up a PR today to address this

[2018-09-26 16:01] BrunnerLivio commented on #70
@gergelyke
Thanks a lot for your quick response & actions.

One problem I still see is, who verifies if the overall status is “up” or “down”?

Easiest way is if the user can explicitly say whats the overall status. So he can decide if Subsystem A is up but Subsystem B is down, if that would crucial for the system or bot.

At the moment a User can only say if the overall status is up or down by thr

[2018-09-26 16:28] BrunnerLivio commented on #70
@gergelyke
Yup.

[2018-09-26 17:03] gergelyke commented on #70
how about something like this: https://github.com/godaddy/terminus/pull/81?

if you like the idea, I can expand on the docs / examples

[2018-09-26 17:46] #79 closed

[2018-09-27 16:59] gergelyke commented on #70
@BrunnerLivio https://github.com/godaddy/terminus/releases/tag/v3.0.0 🎉

[2018-09-28 08:42] BrunnerLivio commented on #70
@BrunnerLivio yup got it working, thanks a lot!

Only problem I currently have is the typings. Seems like they're not updated yet. I can do a PR for that. I think since this release #75 is doable.

[2018-09-28 15:21] gergelyke commented on #75
released under https://github.com/godaddy/terminus/releases/tag/v3.0.1

[2018-09-28 15:21] #75 closed

[2018-09-28 15:22] gergelyke commented on #70
released under https://github.com/godaddy/terminus/releases/tag/v3.0.1

thanks a lot for the contrib!

[2018-09-30 21:40] #70 closed

[2018-10-01 08:55] BrunnerLivio opened #83 "Get the health status without using a HTTP request"
## Issue

I would like to read out the current health status, without having to create a HTTP request.
Therefore the health status should be readable programmatically using the public Terminus API.

Something like this:

[code]

## Implementation

Looking through your code, I realized the core (terminus.js) would have to get restructured if done correctly.

When I tried to refactor the method `dec

[2018-10-04 16:47] gergelyke commented on #83
Hi @BrunnerLivio - any chance you can work on a PR to address this? If not, I can take it on sometimes next week.

[2018-10-04 18:03] BrunnerLivio commented on #83
I also do not know if I have time for this either, but try to look into it.

I think I have to break the public API (again :sweat_smile: ) in order to achieve this.

[2018-10-04 18:09] gergelyke commented on #83
No worries - that's why we have semver :)

[2018-10-05 20:49] jacob-hd opened #88 "Possible semantic versioning issue"
![image](https://user-images.githubusercontent.com/31864739/46559489-64236380-c8a5-11e8-8ffc-498a8bca87bc.png)

Am I reading this correctly? It looks like somehow `v4.1.0` and `v3.1.0` are pointing at the same codebase.. same with `v3.0.0` and `v2.6.0`

[2018-10-05 22:57] gergelyke commented on #88
oh my - will look into this

[2018-11-04 15:44] BrunnerLivio opened #91 ""Detail" information of a health check should not change its attribute depending on the status"
## Current behavior

At the moment the moment when a health check fails the the respond could look something like this;

[code]

Whereas when the status is `ok`, the detail information of the health check changes to the attribute `info`:

[code]

## Expected behavior

The detailed information should be accessible over the same attribute. Therefore I suggest a response where the detailed informatio

[2018-11-09 17:01] Justkant commented on #71
Hi, I don't know if this is related but we had a similar issue.

We fixed it by removing the `asyncServerStop` https://github.com/Tracktl/terminus/pull/1

Maybe we could provide an option to disable the server stop of terminus

[2019-04-12 16:34] gman77 commented on #71
Still happening.

[2019-05-12 17:55] Boboss74 opened #103 "onSignal is not triggered when a puppeteer browser is running"
Hi, it looks like there is an issue with terminus and puppeteer: onSignal is not triggered when a puppeteer browser is running.

There is 2 cases, only the first one is working. The only difference between the two cases is that there is still an open puppeteer browser in the second case.

I prepared the following instructions to reproduce the bug.

Once Dockerfile and index.js are created, you can

[2019-05-23 22:52] #78 closed

[2019-05-23 22:52] gergelyke commented on #83
Closing this as per https://github.com/godaddy/terminus/pull/87

[2019-05-23 22:52] #83 closed

[2019-05-23 23:03] #91 closed

[2019-05-23 23:06] gergelyke opened #107 "The automated release is failing 🚨"
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2019-05-23 23:08] #107 closed

[2019-06-29 17:32] tony-kerz opened #108 "healthcheck responses"
is there any particular reason that healthcheck success responses repeat `info` in both `info` and `details` fields [here](https://github.com/godaddy/terminus/blob/master/lib/terminus.js#L26-L27), similar for failure responses [here](https://github.com/godaddy/terminus/blob/master/lib/terminus.js#L44-L45).

on a related note, is the format of `{info, details}` and `{error, details}` some kind of d

[2019-07-01 15:32] gergelyke commented on #108
hi @tony-kerz

it was to make sure it's a non-breaking change, when we started using the details field

If I remember correctly, that's what Kubernetes health check recommend? I am not sure.

Regarding the future, I think that makes sense - do you want to open a PR for it?

[2019-07-23 11:06] florianmutter opened #112 "Do not send 503 on shutdown"
According to https://kubernetes.io/docs/concepts/workloads/pods/pod-lifecycle/#when-should-you-use-liveness-or-readiness-probes it is not necessary to send 503 on shutdown.

See also https://freecontent.manning.com/handling-client-requests-properly-with-kubernetes/

I think it should be avoided to have more meaning full event logs of the pods. Otherwise each shutdown generates logs of failed readi

[2019-08-25 21:07] asilvas opened #115 "Happy feet features?"
Considering deprecating happy-feet if someone is willing to pull in the missing features.

https://github.com/asilvas/happy-feet

[2019-08-28 15:54] gergelyke opened #117 "The automated release is failing 🚨"
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2019-08-28 15:55] #117 closed, assigned to nobody

[2019-08-28 22:22] traverseda opened #118 "Advertising package"
It looks like this project depends on https://github.com/feross/funding, a project intended to show advertising in a projects build log.

I'm not familiar with your project, I'm just looking through a list of projects that depend on `feross/funding`. It's my understanding that right now there aren't any advertising messages actually showing, but if you're uncomfortable with the possibility of adve

[2019-08-28 22:42] gergelyke commented on #118
Standard is only a dev dependency - it won't show up for folks using terminus.

Thanks for reaching out though!

[2019-08-28 22:42] #118 closed

[2019-09-11 12:54] jtushman commented on #71
I too seem to be having a similar problem

[2019-09-13 12:28] ashymanel92 opened #119 "stoppable incorrect usage"
It's more a suggestion, haven't figured out how to make a PR (if this repo is even opend for PRs). Anyways:

1. `stoppable` is a constructor that returns server, it's not a function that will immediately stop server: <https://github.com/hunterloftis/stoppable/blob/master/lib/stoppable.js#L20>

2. it needs to be assigned to variable(name is just an example), and then used to stop server.
3. no need

[2019-09-13 15:02] gergelyke commented on #119
From the stoppable docs, on `stoppable()`:

`Decorates the server instance with a stop method. Returns the server instance, so can be chained, or can be run as a standalone statement`

[2019-09-13 15:02] #119 closed

[2019-09-13 15:05] gergelyke commented on #103
thank you @tamccall

as pointed out in a puppeteer issue too, it is not a problem with terminus

https://github.com/GoogleChrome/puppeteer/issues/2836

[2019-09-13 15:05] #103 closed

[2019-09-13 15:05] gergelyke commented on #88
going forward, it should work correctly - not sure what the glitch was

[2019-09-13 15:05] #88 closed

[2019-11-01 20:14] tizmagik opened #122 "TerminusOptions.healthChecks.verbatim needs to be added to Typings"
![image](https://user-images.githubusercontent.com/244704/68053551-94b11900-fcc2-11e9-9b40-77d5820250d5.png)

[2019-11-19 10:13] gdoron opened #123 "Make the route of a healthcheck case insensitive"
Would you accept a pull-request making the health-check case-insensitive (opt-in)?
By default, routes in Express are case-insensitive, in terminus, they are.

Caused by this line:
https://github.com/godaddy/terminus/blob/f36dbad24233f8c9065d032ec3d1436b8b5c7347/lib/terminus.js#L68

[2019-11-19 16:50] gergelyke commented on #123
hi @gdoron - that makes perfect sense!

[2019-11-26 20:00] gdoron commented on #123
@gergelyke done.

[2019-11-27 15:52] #123 closed

[2020-02-08 10:36] EdenTurgeman opened #137 "[Question] readiness checks"
After configuring terminus to work for our needs and verifying the basic health-check is working with postman, I realized i did not understand how/where am i supposed to implement a basic readiness probe.
Is it supposed to be another route in the `healthchecks` object? or is that implemented for me?
I just wanted some clarification/examples on implementing a readiness route.

[2020-02-10 17:10] gergelyke commented on #137
Hey - you just have to implement the `healthCheck` function, as seen in the example of the readme. The route is automatically added for you. You can find an example here https://github.com/godaddy/terminus/blob/master/example/mysql/index.js#L21-L30

[2020-02-10 17:10] #137 closed

[2020-02-19 00:58] enition opened #139 "Verbatim option in type def - please tag."
Is it possible to get this type definition change tagged and updated on npm?

https://github.com/godaddy/terminus/blob/681d430bfe40b5b6bf73dc0e3e77660eb01f8dd9/typings/index.d.ts#L11

[2020-02-19 01:15] gergelyke commented on #139
@JacopoDaeli can you take a look at the semantic release process? it should have been released, but on npm the last publish was 3 months ago

[2020-03-04 16:48] levibostian commented on #137
@EdenTurgeman, I was wondering the same exact thing after reading the docs. I assumed that I would need a readiness endpoint along with a liveness endpoint (I am a k8s noob).

After [finding this blog post](https://nemethgergely.com/nodejs-healthcheck-graceful-shutdown/) and reading the source code, you *can* add more endpoints in the `healthchecks` object like you mentioned in your original quest

[2020-05-02 20:21] gergelyke commented on #139
closing this- going to cut a release manually today

[2020-05-02 20:21] #139 closed

[2020-05-02 20:57] gergelyke commented on #139
@enition released under 4.4.0

[2020-05-02 21:51] gergelyke commented on #122
@tizmagik would you mind opening a PR?

[2020-05-13 07:10] abhishek2244 opened #149 "Securing healthcheck endpoints"
Hi,

Is there any way with which we could secure our health check endpoints like Basic Auth, OAuth 2 etc. ?
This could help the application to overcome DDOS attacks on open health check endpoints if they are directly checking DB states, external services etc.

If it is not present, is it there in the roadmap?

Thanks,

[2020-05-13 15:02] gergelyke commented on #149
Hey - I believe this functionality should not be part of this library but should be handled on the load balancer level. Maybe something like this https://medium.com/monstar-lab-bangladesh-engineering/configure-basic-authentication-for-cloudfront-using-lambda-edge-c23ce46216d7 or https://docs.nginx.com/nginx/admin-guide/security-controls/configuring-http-basic-authentication/

[2020-05-13 15:02] #149 closed

[2020-07-21 00:35] ltagliamonte-dd opened #155 "Timeout not working"
the timeout option of the library seem not working, here is a simple example code:
[code]

From my understanding of the documentation the timeout option should delay the shutdown, but if i ran:
`node app.js`
and then `kill -TERM <PID>`
the logs shows:
[code]
and there is not "sleep" of 30s.
Can someone please advise?

[2020-07-21 00:39] ltagliamonte-dd commented on #155
as per doc using beforeShutdown hook i can wait but i don't understand the timeout option at this point

[code]

[2020-07-21 19:21] MichaelSitter commented on #155
I forked the repo to do a little experimentation with the timeout handling. afaik timeout does work, I don't think your test is exercising the feature correctly b/c you aren't creating any connections before stopping the server. It might be helpful if there was a test case to verify timeout is respected. You can see my findings here:
https://github.com/MichaelSitter/terminus/pull/1

[2020-07-22 16:10] ltagliamonte-dd commented on #155
thank you @MichaelSitter I confirm that with requests flowing the following snippet works:
[code]

[2020-07-22 16:10] #155 closed

[2020-07-29 18:41] axelrindle opened #156 "Question: Why using process.kill instead of process.exit?"
https://github.com/godaddy/terminus/blob/16f14b4b44c404209a9d5028ea586cdefde4cb05/lib/terminus.js#L116

After all handlers have been called, `process.kill` is called instead of `process.exit`.

Is it to avoid that Node.JS exit handlers are called?

[2020-07-29 19:37] gergelyke commented on #156
excellent question, but I don't remember why we did it this way 😬

@silasbw does it ring a bell to you?

[2020-07-29 19:38] #122 closed

[2020-07-29 19:38] #115 closed

[2020-07-29 19:39] #108 closed

[2020-07-29 20:18] gergelyke commented on #156
@axelrindle it seems like we can't answer this question :/ I'll leave it open in case anyone has any insights. But let's not change it till we don't know exactly why we did it this way

[2020-08-08 20:21] gergelyke commented on #71
closing this for now, please reopen if you still have this issue

[2020-08-08 20:21] #71 closed

[2020-10-07 19:34] richgerrard opened #158 ""example" package flagged for CVE-2019-17426"
Line ref: https://github.com/godaddy/terminus/blob/6a358df0ec60bf6f45e4b0ff57bd7f58b16e6710/example/mongoose/package.json#L3

Scan result:
Severity | moderate

Package | mongoose

CVE | CVE-2019-17426

Fix Status | fixed in 5.7.5

Description |
 Impacted versions: <5.7.5
Discovered: 12 days ago
Published: >12 months ago
Automattic Mongoose through 5.7.4 allows attackers to bypass access control (i

[2020-10-07 20:30] gergelyke commented on #158
@richgerrard would you mind sending a PR fixing it?

[2020-10-08 12:52] SeanReece commented on #158
@gergelyke @richgerrard I've submitted a PR which should address this issue.

[2020-10-08 15:11] #158 closed

[2020-11-05 06:32] mmadson commented on #158
Hey folks, I see that a fix for this has been merged and a 4.4.2 version has been tagged. Any idea when we can expect this new version sans examples to be released to npm?

[2020-11-06 19:09] mmadson opened #161 "Request to release 4.4.2"
Hey folks, I see that you tagged a new release version to resolve a vulnerability flag. We are encountering the same vulnerability, any chance we can release 4.4.2 to registry? Much appreciated.

[2020-11-18 03:56] rxmarbles commented on #161
Hey @mmadson I'm working on it. Looks like something with the CICD failed. Looking to get that fixed and should get a new version published in the next day or so

[2020-12-14 20:20] mmadson commented on #161
@rxmarbles Just a friendly reminder to push this to the top of your stack. Also willing to help if you accept contributions -- not sure what the process is for contributing to your CI system though...

[2020-12-14 22:02] gergelyke-dd commented on #161
@rxmarbles any update on your end? I am happy to cut a release manually later tonight

[2020-12-14 22:33] rxmarbles commented on #161
Sorry for the delay, been a bit busy non-opensource wise. @gergelyke-dd if you can get a manual release out that would be great. I'm working on converting the CI system to Github Actions and have a branch up for that though want to make sure we get similar functionality as we had w/ travis-ci 😄 . I should be able to make progress on this tonight

[2020-12-15 03:22] rxmarbles commented on #161
@mmadson @gergelyke-dd Published the newest version `4.5.0`. Will continue working on CI to get this back into proper shape but should unblock for now

[2020-12-15 03:22] #161 closed

[2020-12-15 16:05] richgerrard opened #168 "Last release was May 5."
Please release 4.4.2?
Ref: Issue #158

[2020-12-15 16:21] rmarkins-godaddy commented on #168
@richgerrard we have published just yesterday https://github.com/godaddy/terminus/releases/tag/v4.5.0 if you do a `npm info @godaddy/terminus` it should show `4.5.0`

[2020-12-15 16:23] #168 closed

[2021-01-21 10:03] maulik-fua opened #170 "Upgrade mongoose package version in example directory"
https://github.com/godaddy/terminus/blob/master/example/mongoose/package.json
{
  "name": "mongoose",
  "version": "1.0.0",
  "description": "",
  "main": "index.js",
  "scripts": {
  },
  "author": "",
  "license": "ISC",
  "dependencies": {
    "mongoose": "^5.4.2"
  }
}

The version of the mongoose is old and it is vulnerable. It would be must recommend to change/upgrade with the latest version

[2021-01-21 16:26] gergelyke commented on #170
@maulik-fua can you send a PR please?

[2021-01-22 14:18] gergelyke commented on #170
Closed via https://github.com/godaddy/terminus/pull/171

[2021-01-22 14:18] #170 closed

[2021-01-23 02:54] rexxars commented on #112
@gergelyke Would you want this to be configurable, or the default behavior?

[2021-01-23 18:46] gergelyke commented on #112
@rexxars imho this should be opt-in, so it's not a breaking change

[2021-01-24 07:57] rexxars commented on #112
Sure! I took a stab at it in #172

[2021-01-24 22:13] #112 closed

[2021-01-24 22:14] rxmarbles commented on #112
:tada: This issue has been resolved in version 4.6.0 :tada:

The release is available on:
- `npm package (@latest dist-tag)`
- [GitHub release](https://github.com/godaddy/terminus/releases/tag/v4.6.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-01-29 17:38] tarunsinghh opened #173 "use of setHandler flag ,initializing with false then setting it to true in lib/terminus line 63"
What is the use of setHandler flag ,initializing with false then setting it to true in lib/terminus line 63, what does that achieve?

[2021-02-10 10:17] franz-josef-kaiser opened #174 "How to attach tracer to shutdown in Express app?"
In an express app, roughly written like the following snippet, I have added
* Tracing via `'jaeger-client'`
* shutdown handling via `'terminus'`

#### Terminus/ Shutdown Handler
Terminus is wrapped in a callback, having the `server` as argument.
[code]
#### Server
The `tracer` gets just required in the main `server.js`. It does not export anything.
[code]
#### Tracer
The tracer will be set globall

[2021-02-10 16:51] gergelyke commented on #174
thank you for the super detailed issue @franz-josef-kaiser ❤️

I think that once you remove the `process.exit` call in the snippet below, things will work as expected

[code]

The reason being, the `process` modules is an event emitter as well, so whatever signal you'll listen for, both your app code and terminus will receive it.

Can you verify that it's the case?

[2021-02-10 23:29] franz-josef-kaiser commented on #174
Thanks for your fast response and open sourcing this repo @gergelyke!

First, I wanted to respond, that I aimed at getting the `req`uest object to `terminus` and that you might have misunderstood me. Then I looked at it again and asked myself why I would violate the single responsibility of each pkg here? Probably just because `terminus` accepts the injection of a `logger` object… but who knows. I

[2021-02-10 23:29] #174 closed

[2021-03-15 15:46] fabioimpe opened #176 "Custom status code on healthcheck"
Hi,
I was trying to set a custom status code on my healthcheck without success.
For instance I need to both customize the contract and the status code, but for what I can see from the code the failure is triggered by raising an Error, but in that way I cannot customise the contract.

Is this achievable in some way?
Thanks

[2021-03-16 09:10] cryptism opened #177 "Typings are failing"
The typings have been failing on your most recent build, preventing newer versions from being used in typescript projects.

[code]

[2021-03-23 16:29] #177 closed

[2021-03-23 16:30] rxmarbles commented on #177
:tada: This issue has been resolved in version 4.7.1 :tada:

The release is available on:
- `npm package (@latest dist-tag)`
- [GitHub release](https://github.com/godaddy/terminus/releases/tag/v4.7.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-05-04 04:45] 0Ams opened #181 "How can I control the termination?"
I have a different connection to the http server. When a problem occurs, process.emit ('sigterm') allows each handler to terminate.
However it is not able to process properly because it is killing process through process.kill in 'Godaddy/terminus'.

How can i control stop the 'Godaddy/terminus' from process.kill?

[2021-05-04 06:39] 0Ams commented on #181
https://github.com/godaddy/terminus/pull/182

I need an option that functions like above.

[2021-05-04 20:02] gergelyke commented on #181
I am not sure if I understand your use-case - can you help me more here? Are you using the cluster module? Can you create a code snippet that repros your issue?

[2021-05-06 01:48] gergelyke commented on #181
@0Ams can you please add a self-contained example I can easily run?

[2021-05-18 10:37] okv opened #184 "Expose a current state to a health check"
Hey there!

Would be useful when implementing a health check to have a current state.
The state could be used to include it into a response, to fail only some of health checks during shutdown (e.g. when implementing liveness and readiness for k8s), etc.

Possible implementation could be turning this:

https://github.com/godaddy/terminus/blob/5a442dff3783a1e0ccb51caef3b948cb2acb7ab6/lib/terminus.js

[2021-05-18 12:15] gergelyke commented on #184
Hey!

I am not sure if I fully understand - where would the state come from?

[2021-05-18 12:15] #181 closed

[2021-05-18 12:20] gergelyke commented on #176
hey @fabioimpe - as of right now, it's not possible due to https://github.com/godaddy/terminus/blob/5a442dff3783a1e0ccb51caef3b948cb2acb7ab6/lib/terminus.js#L57

I'd be happy to accept a PR which checks if an error has a `statusCode` property, and if it has, it uses that instead of `503`

[2021-05-18 12:22] gergelyke commented on #173
https://github.com/godaddy/terminus/commit/681d430bfe40b5b6bf73dc0e3e77660eb01f8dd9

[2021-05-18 12:22] #173 closed

[2021-05-18 17:42] okv commented on #184
I just meant to share the `state` variable which is defined here:

https://github.com/godaddy/terminus/blob/5a442dff3783a1e0ccb51caef3b948cb2acb7ab6/lib/terminus.js#L168

and passed to most of the functions including:

https://github.com/godaddy/terminus/blob/5a442dff3783a1e0ccb51caef3b948cb2acb7ab6/lib/terminus.js#L75

to health check functions to make it possible to do something like this:

[cod

[2021-05-18 17:53] gergelyke-dd commented on #184
huh, that makes sense - would you mind sending a PR?

[2021-05-18 18:04] okv commented on #184
Alright, I'll try to take a look at it shortly

[2021-05-18 20:16] okv commented on #184
There is the PR #185

[2021-05-21 08:08] okv commented on #184
done in #185

[2021-05-21 08:08] #184 closed

[2021-05-30 11:40] sindilevich opened #189 "Option to configure top-level successful response's value"
When `terminus` reports a successful response, it'd reply with a JSON consisting of the top-level `status: "ok"`, accompanied by any additional health check info, when available.

According to https://github.com/godaddy/terminus/blob/04191ccbf3a00d2bfb563fe5a1bfef2766da231d/lib/terminus.js#L6-L8 and https://github.com/godaddy/terminus/blob/04191ccbf3a00d2bfb563fe5a1bfef2766da231d/lib/terminus.js#L

[2021-06-04 15:30] sindilevich commented on #176
@gergelyke, @rxmarbles, thank you for advancing code changes that seem to resolve this issue now, since https://github.com/godaddy/terminus/pull/190 was merged in.

[2021-06-04 15:34] #176 closed

[2021-06-11 14:15] Noah-CompozeLabs opened #195 "Configurable health response options via middleware?"
Currently I'm using `terminus` in conjunction with `express`. I'm using the `cors` middleware.

I have a React frontend that occasionally hits the `/health` endpoint generated by `terminus` and tracks whether or not the API is healthy.

However, the health endpoints generated by `terminus` do not set any CORS headers or allow any middleware to be used: https://github.com/godaddy/terminus/blob/7eb6

[2021-09-08 14:54] JSandmark commented on #156
I  also find it strange that `process.kill` is used. Do you see any potential issues invoking `process.exit(0)` in the onShutdown method in a local implementation?

I currently investigate why my instance is exited with code 137 but I suspect that is my fault and Docker-setup, but `process.exit(0)` in onShutdown would solve my issue with a clean exit.

[2021-11-16 01:05] calvinwyoung commented on #156
A bit late, but I'm pretty sure the reason terminus uses `process.kill` can be traced back to the discussion in #1 (and here's the corresponding PR: #3)

In my case I'm specifically looking for confirmation that my process exited cleanly, and adding a `process.exit(0)` to my `onShutdown` achieves this.

[2021-12-06 14:48] humphd commented on #195
This is something we would love to see get added as well.  I was just coming here to file it!

[2021-12-06 15:43] LuigiZaccagnini commented on #195
I can take this issue!

[2021-12-07 18:52] LuigiZaccagnini commented on #195
@rxmarbles I was wondering how I should approach adding CORS?

[2021-12-07 22:35] LuigiZaccagnini commented on #195
Hey @rxmarbles ,

I was looking through the `terminus.js` and came up with a couple solutions:

[code]
This is a quick band aid solution that can have CORS working. The only problem I find with this solution is allowing all origins access so maybe we could add parameter to function for an array origins?

Another solution I was thinking about was taking a parameter of all the middleware and looping

[2022-01-14 18:41] #195 closed

[2022-01-17 15:54] ste2425 opened #199 "Missing typing information for headers"
The brilliant headers work added in #198 sadly forgot to update the typing's information for the `TerminusOptions` interface.

We can work around this locally by extending the interface (kudos for making it publicly available 👍).

[code]

Ideally the typing's should be updated however.

[2022-01-17 16:01] gergelyke commented on #199
Thanks for opening the issue Stephen! Any chance you could submit a PR adding it?

[2022-01-17 16:02] ste2425 commented on #199
@gergelyke Beat you to it, already done :) #200

[2022-01-17 16:05] #199 closed

[2022-06-09 13:19] aeimer opened #209 "non graceful shutdown in kubernetes and docker with alpine"
Hi Guys,

we use express and kubernetes to service some web content, sadly the containers always get killed by `SIGKILL` altough the `SIGTERM` is handled.
When I add an `process.exit(0)` to the `onShutdown` hook everything works fine.
But this does not seem to be a nice way, the idea came from this [this comment](https://github.com/godaddy/terminus/issues/156#issuecomment-969572623).
Locally on my

[2022-06-10 08:59] aeimer commented on #209
Seems like the alpine container image is the problem. Maybe `dumb-init` helps here as I run as PID 1.

[2022-06-13 16:53] aeimer commented on #1
So actually because of this behaviour (quit with an uncaught SIGTERM) my containers exit with SIGTERM (which our APM considers as an error) or they get SIGKILL'ed as they don't quit at all. I Tried it with and without dumb-init and on alpine3.15 and bullseye. I honstly don't know if the SIGTERM exit is the best/correct method to quit. Some sources say, yes its correct, others say you should exit w

[2022-06-22 03:26] gergelyke commented on #209
fixed in https://github.com/godaddy/terminus/pull/212

[2022-06-22 03:26] #209 closed

[2022-06-24 20:36] dzuelke commented on #1
It is definitely correct behavior. The process terminating itself with the signal it received allows the process that is executing it to check the termination reason using `WIFSIGNALED`.

Containers are notoriously broken when it comes to signal forwarding. Ctrl+Cing out of a Docker run makes everything hang more often than not. Termination status often isn't bubbled up correctly.

[2022-08-05 08:51] arikanmstf-tw opened #216 "Mongoose example version breaks security scans, throws false positive"
[This](https://github.com/godaddy/terminus/blob/main/example/mongoose/package.json#L3) version breaks security scan (CVE-2022-2564). Trivy throws false positive erros. In order to fix that,I've tried to open PR, but I don't have write access. I think changing package name, or version would simple solve it. Can you tackle this?

[2022-09-20 11:02] dromix commented on #189
Hello, is there any progress?